.App {
  text-align: center;
  background-color: rgb(26, 218, 218);
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* 
@import url('../src/assets/puebloPaleta.jpg');


.App {
  background-image: url('../src/assets/puebloPaleta.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;  
} */